*{
    margin: 0;
    padding: 0;
}

.contenedor-admin-der-producto{
    width: auto;
    height: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contenedor-admin-der-producto h1{
    margin: 10px;
    font-size: 20px;
}